%h1 Bienvenido a Ayudame
%p 
  Estimado
  %strong= @user.name
  ha sido seleccionar para poder manejar de una manera responsable y honesta el sistema de Ayudame
%p
  Tu usuario para poder login sera:
  %strong= @user.email
%p
  Por favor entra a nuestra pagina y pon tus credenciales
  = link_to "Ayudame WebSite", root_path