%h2 Empresas
%p Listado de Empresas

- if flash[:notice].present?
  .notice= flash[:notice]

- if @companies.any?
  %table{border: "1"}
    %tr
      %th Nombre
      %th Direccion
      %th Ciudad
      %th Telefono
      %th 
    = render @companies
- else
  %em No hay ninguna empresa agregada

%p= link_to "Nueva Empresa", new_company_path