%h2 Tipos AMT
%p Listado de Tipos AMT

- if flash[:notice].present?
  .notice= flash[:notice]

- if @technologies.any?
  = render partial: "shared/filter_form", locals: {form_path: technologies_path}
        
  .js_filtered_table
    = render partial: "table", locals: {technologies: @technologies}
- else
  %em No hay ningun tipo AMT agregado