- if flash[:notice].present?
  .notice= flash[:notice]

%h2= @amt_types.title

- if @technologies.any?
  %p
    %strong Tecnologias
  %table{border:"1"}
    %tr
      %th Titulo
      %th Descripcion
    = render partial: "technologies", collection: @technologies
- else
  %em No hay tecnologias para este tipo AMT


%p= link_to "Editar", edit_amt_type_path(@amt_types)